<h1>Anime Details</h1>

<div class="anime-card">
    <h2><%= @anime["title"] %></h2>
    <p>ID: <%= @anime["id"] %></p>
    <img src="<%= @anime["main_picture"]["medium"] %>" alt="<%= @anime["title"] %>">
</div>